@tailwind base;
@tailwind components;
@tailwind utilities;

.ck-editor__editable {
  min-height: 20vh;
  position: relative;
}
.ck-body-wrapper {
  width: 200px;
}
/* .ck.ck-toolbar {
  visibility: hidden;
} */
.ck.ck-editor__editable_inline {
  border: none !important;
}
.ck.ck-balloon-panel {
  visibility: hidden;
}
.ck.ck-responsive-form {
  visibility: visible;
}

.ck.ck-balloon-rotator__content {
  background: white;
}

.ck-editor__editable pre {
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 5px;
  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}

@keyframes delayAnimation {
  0% {
    opacity: 0;

    /* Any other initial styles you want to apply */
  }
  100% {
    opacity: 1;

    /* Any other final styles you want to apply */
  }
}

.custom-animation-switch {
  animation: delayAnimation 1.5s ease-in-out;
  /* Change the animation duration and timing function as desired */
}
/* .ck.ck-editor__editable_inline {
  visibility: hidden;
  opacity: 0;
} */
/* .ck-content {
  padding-left: 32px;
  padding-right: 32px;
}
.ck-toolbar {
  display: none;
} */

[data-rehype-pretty-code-fragment] code {
  @apply grid min-w-full break-words rounded-none border-0 bg-transparent p-0 text-sm text-black;
  counter-reset: line;
  box-decoration-break: clone;
}
[data-rehype-pretty-code-fragment] .line {
  @apply px-4 py-1;
}
[data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: gray;
}
[data-rehype-pretty-code-fragment] .line--highlighted {
  @apply bg-slate-300 bg-opacity-10;
}
[data-rehype-pretty-code-fragment] .line-highlighted span {
  @apply relative;
}
[data-rehype-pretty-code-fragment] .word--highlighted {
  @apply rounded-md bg-slate-300 bg-opacity-10 p-1;
}
[data-rehype-pretty-code-title] {
  @apply mt-4 px-4 py-2 text-sm font-medium;
}
[data-rehype-pretty-code-title] + pre {
  @apply mt-0;
}

 {
  padding: 0 !important;
}
/* DONT FORGET, Fixed the modal issues */
