@tailwind base;
@tailwind components;
@tailwind utilities;

.ck-editor__editable {
  min-height: 28vh;
  position: relative;
}

.ck-editor {
  visibility: hidden;
}

.ck-editor__editable {
  visibility: visible;
}

/* .ck.ck-editor__editable_inline {
  visibility: hidden;
  opacity: 0;
} */
/* .ck-content {
  padding-left: 32px;
  padding-right: 32px;
}
.ck-toolbar {
  display: none;
} */
