@tailwind base;
@tailwind components;
@tailwind utilities;

.ck-editor__editable {
  min-height: 40vh;
  position: relative;
}
.ck-body-wrapper {
  width: 200px;
}
/* .ck.ck-toolbar {
  visibility: hidden;
} */
.ck.ck-editor__editable_inline {
  border: none !important;
}
.ck.ck-balloon-panel {
  visibility: hidden;
}
.ck.ck-responsive-form {
  visibility: visible;
}

.ck.ck-balloon-rotator__content {
  background: white;
}

.ck-editor__editable pre {
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 5px;
  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}

@keyframes delayAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
    /* Any other initial styles you want to apply */
  }
  100% {
    opacity: 1;
    visibility: visible;
    /* Any other final styles you want to apply */
  }
}

.delayed-2xl-cols-5 {
  animation: delayAnimation 1s ease-in-out;
  /* Change the animation duration and timing function as desired */
}
/* .ck.ck-editor__editable_inline {
  visibility: hidden;
  opacity: 0;
} */
/* .ck-content {
  padding-left: 32px;
  padding-right: 32px;
}
.ck-toolbar {
  display: none;
} */
